* {
  box-sizing: border-box;
}
body{
  text-align: center;
}
#game {
    width:100%;
    background-color: blue;
    padding:0;
    margin:0;
    margin:auto;
    font-size:16px;
    text-align: center;
}
th {
  color: white;
  font-size: 20px;
  border: 3px;
  border-color: black;
}
.points {
  color: yellow;
  font-size: 30px;
  font-weight: bold;
}
